<app-adminheader></app-adminheader>

<!-- <button>Show Restaurants</button>
<button>Add Restaurants</button>
<button>Add Menu</button>
<button>Show Menu</button>
<button>Add Cart</button>
<button>Show Cart</button>
<button>Add Orders</button>
<button>Show Orders</button> -->
<body>
  <div class="admin-dashboard">
  <header class="header">
      <ul class="button-list">
        
      
  
        <li class="restaurant-container">
          <a class="header-button large-buttonrest" routerLink="/restaurants" routerLinkActive="active">
            Show Restaurants
          </a>
          <a class="header-button large-buttonrest" routerLink="/restautantadd" routerLinkActive="active">
            Add Restaurant
          </a>
        </li>
  
        <li class="menu-container">
         <a class="header-button large-buttonmenu" routerLink="/menu" routerLinkActive="active">Show Menu</a>
        <a class="header-button large-buttonmenu" routerLink="/menuadd" routerLinkActive="active">Add Menu</a>
        </li>
        
        <li class="cart-container">
        <a class="header-button large-buttoncart" routerLink="/cart" routerLinkActive="active">Show Cart</a>
        <a class="header-button large-buttoncart" routerLink="/cartadd" routerLinkActive="active">Add Cart</a>
        </li>
  
        <li class="ordcust-container">
       <a class="header-button large-buttonorder" routerLink="/orders" routerLinkActive="active">Show Orders</a>
  
        <a class="header-button large-buttoncustomer" routerLink="/admincustomerview" routerLinkActive="active">Show Customers</a>
        </li>
        
  
      </ul>
    </header>
  </div>
  
  </body>