<app-adminheader></app-adminheader>

  

<body>
 
  <h1 class="text-center">Cart Page</h1>
  <div class="container">
  </div>
  
  <div *ngIf="response && response.length > 0">
    <table border="1" class="table table-bordered">
      <thead>
        <tr>
          <th>Cart Id</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Customer Id</th>
          <th>Restaurant Id</th>
          <th>Item Id</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let cart of response">
          <tr *ngFor="let menuItem of cart.menu">
            <td>{{ cart.cartId }}</td>
            <td>{{ cart.price }}</td>
            <td>{{ cart.quantity }}</td>
            <td>{{ cart.total }}</td>
            <td>{{ cart.customers.customerId }}</td>
            <td>{{ cart.restaurants.restaurantId }}</td>
            <td>{{ menuItem.menuItemId }}</td>
            <td>
             
              <button (click)="goToUpdate(cart.cartId)" class="btn btn-update">Update</button>
            </td>
            <td> <button (click)="delete(cart.cartId)" class="btn btn-danger">Delete</button></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    
  </div>
  <button class="btn btn-secondary" (click)="backToadminDash()">Back To Admin DashBoard</button>


</body>