<app-adminheader></app-adminheader>
<body>
  <h1>Update Cart</h1>
  <div class="container  col-lg-4">
    <form   #formData=ngForm  (ngSubmit)="update(formData)" >
    
    
      
        <div class="form-group">
          Customer Id:
          <input type="number" class="form-control" name="customerId" required #customerId="ngModel" ngModel>
          <span style="color:red" *ngIf="customerId.touched && customerId.invalid">CustomerId is required</span>
        </div>
      
        
        <div class="form-group">
          Restaurant Id :<input type="number" class="form-control" name="restaurantId"  required  #restaurantId="ngModel"  ngModel>
        <span style="color:red"  *ngIf="restaurantId.touched && restaurantId.invalid" >restaurantId is required</span>
      </div>
      
      
      <div class="form-group">
        Item Id:
        <input type="text" class="form-control" name="menuIds" required [(ngModel)]="formData.form.value.menuIds">
      </div>
    
      
      
      
      <div class="form-group">
      Price :<input type="number" class="form-control" name="price"  required  #price="ngModel"  ngModel>
      <span style="color:red"  *ngIf="price.touched && price.invalid" >price is required</span>
      </div>
      
      
      <div class="form-group">
      Quantity :<input type="number" class="form-control" name="quantity"  required  #quantity="ngModel"  ngModel>
      <span style="color:red"  *ngIf="quantity.touched && quantity.invalid" >quantity is required</span>
      </div>
      
      <div class="form-group">
      Total :<input type="number" class="form-control" name="total"  required  #total="ngModel"  ngModel>
      <span style="color:red"  *ngIf="total.touched && total.invalid" >total is required</span>
      </div>
      
      <div class="buttonsgap">
        <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"  >Submit</button>
        <button class="btn btn-secondary" (click)="backToCart()">Back To Admin DashBoard</button>
      </div>
    
      </form>
    
    </div>

    
  </body>