body{
    background-image: url("../../../assets/white3.jpg");
  }
  .buttonsgap{
    padding: 5px;
  }

  h1 {
    color: black;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
  }