<app-adminheader></app-adminheader>
<body><div class="container  col-lg-4">

  <h1>Add Menu</h1>
<form   #formData=ngForm  (ngSubmit)="add(formData)" >
    <div class="form-group">
    
        Restaurant Id :<input type="number" class="form-control" name="restaurantId"  required  #restaurantId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="restaurantId.touched && restaurantId.invalid" >restaurantId is required</span>
    </div>
    <div class="form-group">
      
        Item Name:<input type="text" class="form-control" name="itemName"  required  #itemName="ngModel"  ngModel>
      <span style="color:red"  *ngIf="itemName.touched && itemName.invalid" >itemName is required</span>
    </div>
    
    
    <div class="form-group">

        Description:<input type="text" class="form-control" name="description"  required  #description="ngModel"  ngModel>
      <span style="color:red"  *ngIf="description.touched && description.invalid" >description is required</span>
    </div>
    <div class="form-group">
      
        Price:<input type="number" class="form-control"  name="price"  required  #price="ngModel"   ngModel>
      <span style="color:red"   *ngIf="price.touched && price.invalid" >price is mandartory</span>
    </div>
    <div class="buttonsgap">

    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"  >Submit</button>
    <button class="btn btn-secondary" (click)="backToadmindash()">Back To AdminDash</button>
    </div>

  </form>
</div>
</body>