<app-customerheader></app-customerheader>


<!-- <p>customermenu works!</p>
{{restarentid}}
{{customerid}}
{{response|json}} -->
<table border="1" class="table table-bordered">
    <!-- Table headers -->
    <thead>
      <tr>
        <th>Menu Item ID</th>
        <th>Restaurant ID</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>quantity</th>
      </tr>
    </thead>
    <!-- Table body -->
    <tbody>
      <tr *ngFor="let menuItem of response">
        <td>{{ menuItem.menuItemId }}</td>
        <td>{{ menuItem.restaurantId }}</td>
        <td>{{ menuItem.itemName }}</td>
        <td>{{ menuItem.description }}</td>
        <td>{{ menuItem.price }}</td>
        <!-- <td><input type="number" name="quantity" min="1">
        </td>
        <td>
          <button (click)="goTocart(menuItem.menuItemId,menuItem.restaurantId,menuItem.price)" class="btn btn-danger">Add Cart</button>
          
        </td> -->
        <td><input type="number" name="quantity" min="1" [(ngModel)]="menuItem.quantity"></td>
<td>
  <button (click)="goTocart(menuItem)" class="btn btn-danger">Add Cart</button>
</td>
<!-- <td>
  <button (click)="menudata()" class="btn btn-danger">show cartt</button>
</td> -->

      </tr>
    </tbody>
  </table>
  <button class="btn btn-secondary" (click)="backTocustomerDash()">Back To Customer DashBoard</button>

  