body{
    background-color: #eef8ff;
}

/* Define the styles for the footer */

  
  
footer{
    width: 100%;
    
    
    bottom: 0;
    background-color: lightskyblue;
    color: black;
    padding: 70px 0 30px ; 
   
    font-size: 13px;
    line-height: 6px;



}

.row{
    width:85%;
    margin:auto;
    display :flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.col{
    flex-basis: 25%;
    padding: 10px;

    
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}



.logo{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}


.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}


ul li{
    list-style: none;
    margin-bottom: 12px;
}


form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;   /*under line under suscribe */
    margin-bottom: 50px;

}

form .fa-solid{
    font-size: 18px;
    margin-right: 10px;
}

form input{
   width: 100%;
   background: transparent;
   color: #ccc;
   border:0;
   outline: none;
}

/* form button{
    background:transparent;
    border:0;
    outline: none;
    cursor: pointer;

 } */
 form button{
    background:#eef8ff;
    border:0;
    outline: none;
    cursor: pointer;

 }

 form button .fa-solid{
    font-size: 16px;

 }

 .social {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.social i {
  margin: 0 10px; 
}


hr{
    width:90%;
    border: 0;
    border-bottom: 1px solid black;
    margin:20px auto;

}

.copyright{
    text-align: center;
}




@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100px;
    }
}

.underline {
    width: 100px;
    height: 5px;
    background: white;
    border-radius: 3px;
    position: absolute;
    top: 40px; /* Increase this value to move the lines down */
    left: 0px;
  }
  
  .underline span {
    width: 15px;
    height: 100%;
    background: black;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 10px;
    animation: moving 2s linear infinite;
  }
  
  /* Other existing styles remain unchanged */

/* Adjust placeholder color and font color of the email */
form input::placeholder {
    color: black; /* Placeholder color */
  }
  
  form input[type="email"]:focus {
    color: black; /* Font color while typing */
  }
  
  /* Set all links in the footer to black color */
  ul li a {
    color: black !important;
  }
  
  




.main-content {
    margin-bottom: -10px; /* Adjust the value */
  }