<html>
<body>
<h2 class="text-center">Customer Login Page</h2>


<div class="text-center">
<button (click)="showForm()" class="btn btn-success ">Login Customer</button>
</div>

<div *ngIf="isShowFormVisible" class="container  col-lg-4">
    <form   #formData=ngForm  (ngSubmit)="readFormData(formData)" >
        <div class="form-group">
          <label for="exampleInputEmail1">UserName</label>
          <input type="username" class="form-control" name="username"  required  #username="ngModel"  ngModel       >
          <small id="userHelp" class="form-text text-muted">Enter Proper Name</small><br>
          <span style="color:red"  *ngIf="username.touched && username.invalid" >UserName is required</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control"  name="password"  required  #pwd="ngModel"   ngModel>
          <span style="color:red"   *ngIf="pwd.touched && pwd.invalid" >Password is mandartory</span>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"  >Submit</button>


        
    </form>

  </div>
  
  <!-- <div *ngIf="response && response.length > 0">
    <table border="1" class="table table-bordered">
      
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Location</th>
          <th>email</th>
          <th>phoneNumber</th>
          <th>password</th>
          <th>Role</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let admin of response">
          <td>{{ admin.customerId }}</td>
          <td>{{ admin.customerName}}</td>
          <td>{{ admin.deliveryAddress }}</td>
          <td>{{ admin.email }}</td>
          <td>{{admin.phoneNumber}}</td>
          <td>{{ admin.password}}</td>
          <td>{{ admin.role }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->



  <br>
<div class="text-center">
<button (click)="toggleForm()" class="btn btn-success">Register Customer</button>
</div>


<form *ngIf="isFormVisible" #myform="ngForm"  method="post"  class="container col-md-4" (ngSubmit)="insertEmployee(myform.value)">
    
    <div class="form-group">
    Cuatomer Name:<input type="text" class="form-control"  #usernamecontrol="ngModel" name="customerName"  required ngModel>
    <span  style="color: red;"  *ngIf="usernamecontrol.touched && usernamecontrol.invalid">User Name is Mandatory</span>
    </div>

    <div class="form-group">
      email:<input type=email class="form-control"  #emailcontrol="ngModel" name="email"  required ngModel>
      <span  style="color: red;"  *ngIf="emailcontrol.touched && emailcontrol.invalid">email is Mandatory</span>
      </div>

      <div class="form-group">
        Phone Number:<input type=text class="form-control"  #numbercontrol="ngModel" name="phoneNumber"  required ngModel>
        <span  style="color: red;"  *ngIf="numbercontrol.touched && numbercontrol.invalid">Number is Mandatory</span>
        </div>
        <div class="form-group">
          Address:<input type=text class="form-control"  #locationcontrol="ngModel" name="deliveryAddress"  required ngModel>
          <span  style="color: red;"  *ngIf="locationcontrol.touched && locationcontrol.invalid">Location is Mandatory</span>
          </div>

    <div class="form-group">
        Password:<input type="password" class="form-control"  #pwdcontrol="ngModel" name="password"  required ngModel>
        <span  style="color: red;"  *ngIf="pwdcontrol.touched && pwdcontrol.invalid">Password is Mandatory</span>
    </div>
    

    <button type="submit"  class="btn btn-primary" [disabled]="myform.invalid" >Submit</button>
    
    
</form>



<br>
<br>
<div class="text-center">
<!-- <button (click)="deleteForm()" class="btn btn-success">Delete Customer</button> -->
</div>

<div *ngIf="isdeleteFormVisible">
<div  class="form-group">
  <label for="deleteId">Enter ID to Delete:</label>
  <input type="number" class="form-control" name="deleteId" [(ngModel)]="deleteId" required>
</div>

<!-- Modify the delete button to call the deleteById method with the entered ID -->
<button type="button" class="btn btn-danger" (click)="deleteById()">Delete</button>
</div>






<br>
<br>
<div class="text-center">
  <!-- <button (click)="updateForm()" class="btn btn-success ">Update Customer</button> -->
</div>
<div *ngIf="isUpdateFormVisible" class="container  col-lg-4">
  <form   #formData=ngForm  (ngSubmit)="update(formData)" >
    <div class="form-group">
    
      Customer Id:<input type="number" class="form-control" name="customerId"  required  #customerId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="customerId.touched && customerId.invalid" >UserName is required</span>
    </div>
    <div class="form-group">
      
      customerName:<input type="text" class="form-control" name="customerName"  required  #customerName="ngModel"  ngModel>
      <span style="color:red"  *ngIf="customerName.touched && customerName.invalid" >UserName is required</span>
    </div>
    <div class="form-group">
      
      email:<input type="text" class="form-control" name="email"  required  #email="ngModel"  ngModel>
      <span style="color:red"  *ngIf="email.touched && email.invalid" >UserName is required</span>
    </div>
    <div class="form-group">
      
      phoneNumber:<input type="text" class="form-control" name="phoneNumber"  required  #phoneNumber="ngModel"  ngModel>
      <span style="color:red"  *ngIf="phoneNumber.touched && phoneNumber.invalid" >UserName is required</span>
    </div>
    <div class="form-group">

      deliveryAddress:<input type="text" class="form-control" name="deliveryAddress"  required  #deliveryAddress="ngModel"  ngModel>
      <span style="color:red"  *ngIf="deliveryAddress.touched && deliveryAddress.invalid" >UserName is required</span>
    </div>
    <div class="form-group">
      
      Password:<input type="text" class="form-control"  name="password"  required  #pwd="ngModel"   ngModel>
      <span style="color:red"   *ngIf="pwd.touched && pwd.invalid" >Password is mandartory</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"  >Submit</button>
  </form>
</div>
<br>
</body>
</html>